.Add {
    border: 2px solid #000;
    border-radius: 5px;
    padding: 30px;
    margin: 30px;
}
.Submit {
    display: flex;
    flex-direction: column;

}
.save {
    margin-top: 10px;
    width: 50px;
}
.add-title {
    text-align: center;
}